<section id="pricing" class="block block-two-column-1">
  <div class="container">
    <div class="columns">
      <div class="column left">
        <h2>{{ section.col_1.headline }}</h2>
        <br>
        <br>
          <li>Fastest, slickest Bluetooth connector for your Mac</li>
          <li>Access three of your favorite devices</li>
          <li>Support for Light & Dark Mode</li>
          <li>Partial Touch Bar support</li>
          <br>
          <h4>I'll never nag you to upgrade. But if you want to step up your game...</h4>
      </div>
      <div class="column right" style="background-color:#000">
        <h2>{{ section.col_2.headline }}</h2>
        <br>
        <br>
          <li>Access <b>ALL</b> of your favorite devices</li>
          <li>Full Touch Bar support with connectivity management</li>
          <li>View detailed device meta-data</li>
          <li>Start Juice automatically when you log in</li>
          <br>
          <p>Unlock pro by ...</p>
      </div>           
    </div>
  </div>
</section>
