<section id="pricing" class="block block-two-column-1">
  <div class="container">
    <div class="columns">
      <div class="column left">
        <h2>{{ section.col_1.headline }}</h2>
        <br>
        <br>
          <li>Fastest, slickest Bluetooth connector for your Mac</li>
          <li>Limited access to three of your favorite devices</li>
          <li>Dark Mode support</li>
          <li>Touch Bar support</li>
          <br>
          <h4>I'll never nag you to upgrade. But if you want to step up your game...</h4>
      </div>
      <div class="column right" style="background-color:#000">
        <h2>{{ section.col_2.headline }}</h2>
        <br>
        <br>
          <li>Access <b>ALL</b> of your favorite devices</li>
          <li>Global hotkey to launch Control Center</li>
          <li>Map hotkeys to connect to devices</li>
          <li>Detailed device meta-data</li>
          <li>Show icon in Dock</li>
          <li>Launch at Login</li>
          <br>
          <p><strong>Unlock pro with an in-app purchase of $6.99</strong></p>
      </div>           
    </div>
  </div>
</section>
