<section class="block block-one-column-1">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2>{{ section.headline }}</h2>
        <p>{{ section.content }}</p>
        <br></br>
        <a href="https://twitter.com/intent/tweet?screen_name=juicemacosapp&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @juicemacosapp</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>        
    </div>
  </div>
</section>
