<html>
        <head>
            <meta charset="utf-8"/>
            <title>Juice Release Notes</title>
            <style>*{font-size:12px}body{font-family:Helvetica,sans-serif;margin-bottom:100px}h2{font-size:14px;margin:40px 0 10px 0;border-top:1px solid #888;padding-top:10px}h2:first-child{margin-top:10px;border-top:none}.note{padding:5px 10px;border:1px solid #ABA84D;display:inline-block;background:#F0EFCC;color:#7A7212;margin-bottom:10px}.note:before{content:"Note:";margin-right:5px;font-weight:bold}ul{list-style-type:none;margin:0 0 0 16px;padding-left:60px;text-indent:-75px}ul li{margin:0 0 3px 0}ul li.new:before,ul li.improved:before,ul li.fixed:before,ul li.changed:before{display:inline-block;margin-right:5px;font-family:Helvetica,sans-serif;font-size:12px;border-radius:3px;padding:1px 5px;color:white;width:60px;text-align:right}ul li.new:before{content:'New';background:#2ECF25}ul li.improved:before{content:'Improved';background:#2577CF}ul li.fixed:before{content:'Fixed';background:#CF7D25}ul li.changed:before{content:'Changed';background:#888}</style>
        </head>
        
        <body>
          </ul><h2>Version 1.2.2:</h2><ul>
              <li class="fixed">Fix issue where devices won't show up on My Devices</li>
              <li class="new">New logo for non-Apple mice :D</li>

          </ul><h2>Version 1.2.1:</h2><ul>
              <li class="new">🇪🇸 localization</li>
              <li class="new">Drag to reorder devices</li>
              <li class="fixed">AirPods casing battery indicator not shown when not available</li>
              <li class="improved">Product icons</li>

          </ul><h2>Version 1.2:</h2><ul>
              <li class="new">🇰🇷 localization</li>
              <li class="new">Privacy help view in feedback view</li>

          </ul><h2>Version 1.1:</h2><ul>
              <li class="fixed">Account for fixed scroll bar setting</li>

          </ul><h2>Version 1.0:</h2><ul>
              <li class="new">Swift 5: <strong>Reduce binary size thanks to stable ABI 🎉</strong>.</li>
              <li class="new">New rule: <strong>Ordered comparison of pointer and zero</strong>.</li>
              <li class="new">New preference: <strong>Toggle user notifications</strong>.</li>
              <li class="improved">Local notifications are given unique ID's, with a date component.</li>
              <li class="fixed">Remove "Freemium" features</li>
            </ul><h2>Version 0.1:</h2><ul>
              <li>Initial <em>beta</em> release.</li>
          </ul>
        </body>
</html>
